*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    position: relative;
}

body, html {
    background-color: royalblue;
    color: white;
    font-family: sans-serif;
}

main {
    margin-bottom: 70px;
}

.header {
    padding: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.header__name {
    font-size: 1.5rem;
    color: rgb(212, 237, 245);
}

.form-wrapper {
    display: flex;
    justify-content: center;
}

.form, .calendar {
    width: 400px;
    padding: 10px;
}

.calendar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
}

.main-calendars {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

.main-calendars__year {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    color: royalblue;
    border-radius: 20px;
}

label { 
    font-weight: bold;
}

.form__input {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}

.button {
    width: 100%;
    border: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

.calendar__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    grid-template-columns: repeat(7, 1fr);
    height: calc(190px / 2);
    padding: 5px;
    background-color: white;
    color: royalblue;
    border-radius: 15px 15px 0 0;
}

.calendar__month {
    display: flex;
    justify-content: center;
}

.calendar__days-of-week {
    width: 100%;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(7, 1fr);
    height: calc(360px / 6);
    padding: 5px;
    background-color: white;
}

.calendar__body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 5px;
    gap: 2px;
    width: 100%;
    height: 330px;
    background-color: white;
    color: black;
    border-radius: 0 0 15px 15px;
}

.calendar__cell {
    border: 1px solid black;
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.calendar__cell:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.6);
}

.calendar__cell--yellow {
    background-color: rgb(248, 255, 149);
}

.calendar__cell--orange {
    background-color: rgb(255, 211, 129);
}

.calendar__cell--red {
    background-color: rgb(255, 159, 159);
}

.calendar__cell--green {
    background-color: rgb(163, 255, 160);
}

.calendar__cell--gray {
    background-color: rgb(215, 215, 215);
}

.calendar__cell--cyan {
    background-color: rgb(190, 255, 255);
    color: black;
}

.footer {
    width: 100%;
    background-color: rgb(85, 85, 226);
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    bottom: 0;
    position: fixed;
    text-align: center;
}

.footer__link {
    color: white;
    text-decoration: none;
}